body {
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.wrapper {
  margin: 30px;
}

#header {
  font-size: 3em;
  font-family: "Consolas";
  text-decoration: underline;
}

#generate {
  padding: 8px;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  border-right: 2px solid #666666;
  border-bottom: 2px solid #666666;
  background-color: #CCCCCC;
}
#generate:active {
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
}

#output {
  border: 3px solid #000000;
}

#code {
  padding: 2px;
  border-radius: 3px;
  background-color: #EEEEEE;
}
